


{% macro render_blog_metadata(post, from_index=false) %}
<div class="blog-metadata">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}

  <p>
    Author: {{ post.author }}   |   
    Date written: {{ post.pub_date }}
  </p>
</div>
{% endmacro %}

{% macro render_book_review_metadata(post, from_index=false) %}
<div class="book-review-metadata">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}

  <p>
    Book author: {{ post.author }}   |   
    Review by: {{ post.book_author }} |
    Date written: {{ post.pub_date }}
  </p>
</div>
{% endmacro %}
