html body{
    color: black;
    background: #E3E2DF;
}

div.card {
    background: #e0dfdd;
    color: #1F2833;
    padding: 0.25em;
    margin-bottom: 2%;
}

div.blog-metadata {
    color: #2F4F4F;
    font-size: 0.75em;
}

.page {
    margin: 2%;
}

.text-custom {
    color: rgb(36, 156, 255) !important;
}

.text-custom:hover,  .text-custom:active{
    color: rgb(83, 178, 255) !important;
}

.fa-element {
    color: rgb(36, 156, 255) !important;
}

.fa-element:hover {
    color: rgb(83, 178, 255) !important;
}

