html body{
    color: black;
    background: #E3E2DF;
}

body {
    margin: auto
}

div.card {
    background: #e0dfdd;
    color: #1F2833;
    padding: 0.25em;
    margin-bottom: 2%;
}

div.blog-metadata {
    color: #2F4F4F;
    font-size: 0.75em;
}

.page {
    margin: 2%;
}