html body{
    color: black;
    background: #E3E2DF;
}

body {
    margin: auto
}

div.card {
    background: #e0dfdd;
    color: #1F2833;
}

div.blog-metadata {
    color: #2F4F4F;
}

.page {
    margin: 2%;
}